<section xmlns:th="http://www.thymeleaf.org">
    <div class="page-title">
        <h2>Cryptocurrency Dashboard</h2>
        <p>Real-time market overview and price charts</p>
    </div>

    <div class="dashboard-top-stats">
        <div class="wrapper top-stat">
            <div class="top-stat-head">
                <a>Top Price</a>
                <a>Change</a>
            </div>

            <div th:each="coin : ${top3Price}" class="top-stat-coin">
                <img class="small-logo" th:src="${'https://img.logo.dev/crypto/' + coin.getSymbol() + '?token=pk_Eik_EQB_QCOrBDpPKu6RYQ'}">
                <a th:text="${coin.getSymbol()}"></a>
                <a th:text="${coin.getFormattedLastPrice()}"></a>
                <a th:class="${coin.getChangePercent() < 0} ? 'change-negative' : 'change-positive'"
                   th:text="${(coin.getChangePercent() < 0 ? '▼ ' : '▲ ') + coin.getFormattedChange() + '%'}">
                </a>
            </div>
        </div>
        <div class="wrapper top-stat">
            <div class="top-stat-head">
                <a>New</a>
                <a>Change</a>
            </div>

            <div th:each="coin : ${top3New}" class="top-stat-coin">
                <img class="small-logo" th:src="${'https://img.logo.dev/crypto/' + coin.getSymbol() + '?token=pk_Eik_EQB_QCOrBDpPKu6RYQ'}">
                <a th:text="${coin.getSymbol()}"></a>
                <a th:text="${coin.getFormattedLastPrice()}"></a>
                <a th:class="${coin.getChangePercent() < 0} ? 'change-negative' : 'change-positive'"
                   th:text="${(coin.getChangePercent() < 0 ? '▼ ' : '▲ ') + coin.getFormattedChange() + '%'}">
                </a>
            </div>
        </div>
        <div class="wrapper top-stat">
            <div class="top-stat-head">
                <a>Top Gain</a>
                <a>Change</a>
            </div>

            <div th:each="coin : ${top3Gain}" class="top-stat-coin">
                <img class="small-logo" th:src="${'https://img.logo.dev/crypto/' + coin.getSymbol() + '?token=pk_Eik_EQB_QCOrBDpPKu6RYQ'}">
                <a th:text="${coin.getSymbol()}"></a>
                <a th:text="${coin.getFormattedLastPrice()}"></a>
                <a th:class="${coin.getChangePercent() < 0} ? 'change-negative' : 'change-positive'"
                   th:text="${(coin.getChangePercent() < 0 ? '▼ ' : '▲ ') + coin.getFormattedChange() + '%'}">
                </a>
            </div>
        </div>
        <div class="wrapper top-stat">
            <div class="top-stat-head">
                <a>Top Volume</a>
                <a>Change</a>
            </div>

            <div th:each="coin : ${top3Volume}" class="top-stat-coin">
                <img class="small-logo" th:src="${'https://img.logo.dev/crypto/' + coin.getSymbol() + '?token=pk_Eik_EQB_QCOrBDpPKu6RYQ'}">
                <a th:text="${coin.getSymbol()}"></a>
                <a th:text="${coin.getFormattedLastPrice()}"></a>
                <a th:class="${coin.getChangePercent() < 0} ? 'change-negative' : 'change-positive'"
                   th:text="${(coin.getChangePercent() < 0 ? '▼ ' : '▲ ') + coin.getFormattedChange() + '%'}">
                </a>
            </div>
        </div>
    </div>
    <div class="wrapper dashboard-wrapper">
        <h2>Cryptocurrency Prices by Market Cap</h2>
        <table class="dashboard-table">
            <thead>
                <tr>
                    <th></th>
                    <th>#</th>
                    <th>Coin</th>
                    <th></th>
                    <th>Price</th>
                    <th>24h</th>
                    <th>1m</th>
                    <th>3m</th>
                    <th>24h volume</th>
                    <th>Last 7 Days Grid</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#6C6C6C"><path d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"/></svg></td>
                <td class="table-row-count">1.</td>
                <td>
                    <div class="table-coin-label">
                        <img class="small-logo" src="https://img.logo.dev/crypto/BTC?token=pk_Eik_EQB_QCOrBDpPKu6RYQ">
                        <span>Bitcoin</span>
                    </div>
                </td>
                <td class="grey-text table-symbol">BTC</td>
                <td>$90,818.45</td>
                <td class="change-negative">▼ -0.07</td>
                <td class="change-negative">▼ -0.30</td>
                <td class="change-positive">▲ +7.01%</td>
                <td>$40,026,056,090</td>
                <td><img class="last-7-days-grid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/330px-Placeholder_view_vector.svg.png"></td>
            </tr>
            <tr>
                <td><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#6C6C6C"><path d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"/></svg></td>
                <td class="table-row-count">2.</td>
                <td>
                    <div class="table-coin-label">
                        <img class="small-logo" src="https://img.logo.dev/crypto/ETH?token=pk_Eik_EQB_QCOrBDpPKu6RYQ">
                        <span>Etherium</span>
                    </div>
                </td>
                <td class="grey-text table-symbol">ETH</td>
                <td>$90,818.45</td>
                <td class="change-negative">▼ -0.07</td>
                <td class="change-negative">▼ -0.30</td>
                <td class="change-positive">▲ +7.01%</td>
                <td>$40,026,056,090</td>
                <td><img class="last-7-days-grid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/330px-Placeholder_view_vector.svg.png"></td>
            </tr>
            <tr>
                <td><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#6C6C6C"><path d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"/></svg></td>
                <td class="table-row-count">3.</td>
                <td>
                    <div class="table-coin-label">
                        <img class="small-logo" src="https://img.logo.dev/crypto/XRP?token=pk_Eik_EQB_QCOrBDpPKu6RYQ">
                        <span>XRP</span>
                    </div>
                </td>
                <td class="grey-text table-symbol">XRP</td>
                <td>$90,818.45</td>
                <td class="change-negative">▼ -0.07</td>
                <td class="change-negative">▼ -0.30</td>
                <td class="change-positive">▲ +7.01%</td>
                <td>$40,026,056,090</td>
                <td><img class="last-7-days-grid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/330px-Placeholder_view_vector.svg.png"></td>
            </tr>
            <tr>
                <td><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#6C6C6C"><path d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"/></svg></td>
                <td class="table-row-count">4.</td>
                <td>
                    <div class="table-coin-label">
                        <img class="small-logo" src="https://img.logo.dev/crypto/BTC?token=pk_Eik_EQB_QCOrBDpPKu6RYQ">
                        <span>Bitcoin</span>
                    </div>
                </td>
                <td class="grey-text table-symbol">BTC</td>
                <td>$90,818.45</td>
                <td class="change-negative">▼ -0.07</td>
                <td class="change-negative">▼ -0.30</td>
                <td class="change-positive">▲ +7.01%</td>
                <td>$40,026,056,090</td>
                <td><img class="last-7-days-grid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/330px-Placeholder_view_vector.svg.png"></td>
            </tr>
            <tr>
                <td><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#6C6C6C"><path d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"/></svg></td>
                <td class="table-row-count">5.</td>
                <td>
                    <div class="table-coin-label">
                        <img class="small-logo" src="https://img.logo.dev/crypto/ETH?token=pk_Eik_EQB_QCOrBDpPKu6RYQ">
                        <span>Etherium</span>
                    </div>
                </td>
                <td class="grey-text table-symbol">ETH</td>
                <td>$90,818.45</td>
                <td class="change-negative">▼ -0.07</td>
                <td class="change-negative">▼ -0.30</td>
                <td class="change-positive">▲ +7.01%</td>
                <td>$40,026,056,090</td>
                <td><img class="last-7-days-grid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/330px-Placeholder_view_vector.svg.png"></td>
            </tr>
            <tr>
                <td><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#6C6C6C"><path d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"/></svg></td>
                <td class="table-row-count">6.</td>
                <td>
                    <div class="table-coin-label">
                        <img class="small-logo" src="https://img.logo.dev/crypto/XRP?token=pk_Eik_EQB_QCOrBDpPKu6RYQ">
                        <span>XRP</span>
                    </div>
                </td>
                <td class="grey-text table-symbol">XRP</td>
                <td>$90,818.45</td>
                <td class="change-negative">▼ -0.07</td>
                <td class="change-negative">▼ -0.30</td>
                <td class="change-positive">▲ +7.01%</td>
                <td>$40,026,056,090</td>
                <td><img class="last-7-days-grid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/330px-Placeholder_view_vector.svg.png"></td>
            </tr>
            <tr>
                <td><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#6C6C6C"><path d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"/></svg></td>
                <td class="table-row-count">7.</td>
                <td>
                    <div class="table-coin-label">
                        <img class="small-logo" src="https://img.logo.dev/crypto/BTC?token=pk_Eik_EQB_QCOrBDpPKu6RYQ">
                        <span>Bitcoin</span>
                    </div>
                </td>
                <td class="grey-text table-symbol">BTC</td>
                <td>$90,818.45</td>
                <td class="change-negative">▼ -0.07</td>
                <td class="change-negative">▼ -0.30</td>
                <td class="change-positive">▲ +7.01%</td>
                <td>$40,026,056,090</td>
                <td><img class="last-7-days-grid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/330px-Placeholder_view_vector.svg.png"></td>
            </tr>
            <tr>
                <td><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#6C6C6C"><path d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"/></svg></td>
                <td class="table-row-count">8.</td>
                <td>
                    <div class="table-coin-label">
                        <img class="small-logo" src="https://img.logo.dev/crypto/ETH?token=pk_Eik_EQB_QCOrBDpPKu6RYQ">
                        <span>Etherium</span>
                    </div>
                </td>
                <td class="grey-text table-symbol">ETH</td>
                <td>$90,818.45</td>
                <td class="change-negative">▼ -0.07</td>
                <td class="change-negative">▼ -0.30</td>
                <td class="change-positive">▲ +7.01%</td>
                <td>$40,026,056,090</td>
                <td><img class="last-7-days-grid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/330px-Placeholder_view_vector.svg.png"></td>
            </tr>
            <tr>
                <td><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#6C6C6C"><path d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"/></svg></td>
                <td class="table-row-count">9.</td>
                <td>
                    <div class="table-coin-label">
                        <img class="small-logo" src="https://img.logo.dev/crypto/XRP?token=pk_Eik_EQB_QCOrBDpPKu6RYQ">
                        <span>XRP</span>
                    </div>
                </td>
                <td class="grey-text table-symbol">XRP</td>
                <td>$90,818.45</td>
                <td class="change-negative">▼ -0.07</td>
                <td class="change-negative">▼ -0.30</td>
                <td class="change-positive">▲ +7.01%</td>
                <td>$40,026,056,090</td>
                <td><img class="last-7-days-grid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/330px-Placeholder_view_vector.svg.png"></td>
            </tr>
            <tr>
                <td><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#6C6C6C"><path d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"/></svg></td>
                <td class="table-row-count">10.</td>
                <td>
                    <div class="table-coin-label">
                        <img class="small-logo" src="https://img.logo.dev/crypto/BTC?token=pk_Eik_EQB_QCOrBDpPKu6RYQ">
                        <span>Bitcoin</span>
                    </div>
                </td>
                <td class="grey-text table-symbol">BTC</td>
                <td>$90,818.45</td>
                <td class="change-negative">▼ -0.07</td>
                <td class="change-negative">▼ -0.30</td>
                <td class="change-positive">▲ +7.01%</td>
                <td>$40,026,056,090</td>
                <td><img class="last-7-days-grid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/330px-Placeholder_view_vector.svg.png"></td>
            </tr>
            </tbody>
        </table>
        <div class="pagination">
            <div class="prev-page-btn grey-text"><</div>
            <div class="page-btn selected-page">1</div>
            <div class="page-btn">2</div>
            <div class="page-btn">3</div>
            <div class="page-btn">4</div>
            <div class="page-btn">5</div>
            <div class="page-btn">...</div>
            <div class="page-btn">10</div>
            <div class="next-page-btn">></div>
        </div>
    </div>
</section>