<section xmlns:th="http://www.thymeleaf.org">
    <div class="back-btn">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#8B8B8B"><path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z"/></svg>
        <span>Back</span>
    </div>

    <div class="coin-label-container">
        <div class="coin-label-left-section">
            <img class="large-logo" src="https://img.logo.dev/crypto/BTC?token=pk_Eik_EQB_QCOrBDpPKu6RYQ">
            <span class="coin-name">Bitcoin</span>
            <span class="coin-symbol grey-text">BTC</span>
        </div>
        <div class="add-to-favorites-btn">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff"><path d="m354-287 126-76 126 77-33-144 111-96-146-13-58-136-58 135-146 13 111 97-33 143ZM233-120l65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-350Z"/></svg>
            <span>Add to favorites</span>
        </div>
    </div>

    <div class="wrapper detailed-view-wrapper">
        <div class="coin-heading-info">
            <div class="coin-info">
                <span class="heading">Rank</span>
                <span class="data" th:text="${'#' + rank}"></span>
            </div>
            <div class="coin-info">
                <span class="heading">Current Price</span>
                <span class="data" th:text="${'$' + coin.getFormattedLastPrice()}"></span>
                <span th:class="${coin.getChangePercent() < 0} ? 'change-negative' : 'change-positive'"
                      th:text="${(coin.getChangePercent() < 0 ? '▼ ' : '▲ ') + coin.getFormattedChange() + '%'}"></span>
            </div>
            <div class="coin-info">
                <span class="heading">24H High</span>
                <span class="data" th:text="${'$' + coin.getFormattedHigh()}"></span>
            </div>
            <div class="coin-info">
                <span class="heading">24H Volume</span>
                <span class="data" th:text="${coin.getFormattedVolume()}"></span>
                <span class="vol-mkt-pct grey-text" th:text="${'(24H - 24L) / 24L = %' + coin.getFormattedHighLowRate()}"></span>
            </div>
        </div>
        <div class="graph-btns">
            <div class="graph-section">
                <form th:method="get" th:action="${'/details/' + coin.getSymbol() + '/plot/30'}"><button class="graph-btn">1M</button></form>
                <form th:method="get" th:action="${'/details/' + coin.getSymbol() + '/plot/90'}"><button class="graph-btn">3M</button></form>
                <form th:method="get" th:action="${'/details/' + coin.getSymbol() + '/plot/180'}"><button class="graph-btn">6M</button></form>
                <form th:method="get" th:action="${'/details/' + coin.getSymbol() + '/plot/365'}"><button class="graph-btn">1Y</button></form>
                <form th:method="get" th:action="${'/details/' + coin.getSymbol() + '/plot/1825'}"><button class="graph-btn">5Y</button></form>
                <form th:method="get" th:action="${'/details/' + coin.getSymbol() + '/plot/max'}"><button class="graph-btn">MAX</button></form>
            </div>
            <div class="graph-section">
                <span class="graph-btn graph-btn-selected">Price</span>
                <span class="graph-btn">Open</span>
                <span class="graph-btn">High</span>
                <span class="graph-btn">Low</span>
                <span class="graph-btn">Close</span>
                <span class="graph-btn">Volume</span>
            </div>
        </div>
        <div class="download-graph-container">
            <div id="download-graph-btn">
                <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#fff"><path d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"/></svg>
                <span>Download Graph</span>
            </div>
        </div>
        <div id="data-graph" style="width: 100%; height: 430px;"></div>
    </div>

    <div id="market-statistics">
        <div class="wrapper mkt-stat">
            <span>Market Statistics</span>
            <div class="grid">
                <div class="cell">
                    <span class="grey-text">24H High</span>
                    <span class="change-positive" th:text="${'$' + coin.getFormattedHigh()}"></span>
                </div>
                <div class="cell">
                    <span class="grey-text">24H Low</span>
                    <span class="change-negative" th:text="${'$' + coin.getFormattedLow()}"></span>
                </div>
                <div class="cell">
                    <span class="grey-text">All-Time High</span>
                    <span th:text="${'$' + allTimeHigh.getFormattedHigh()}"></span>
                    <span th:class="${allTimeHighChange < 0} ? 'change-negative' : 'change-positive'"
                          th:text="${(allTimeHighChange < 0 ? '▼ ' : '▲ ') + allTimeHighChangeFormatted + '%'}"></span>
                </div>
                <div class="cell">
                    <span class="grey-text">All-Time Low</span>
                    <span th:text="${'$' + allTimeLow.getFormattedLow()}"></span>
                    <span th:class="${allTimeLowChange < 0} ? 'change-negative' : 'change-positive'"
                          th:text="${(allTimeLowChange < 0 ? '▼ ' : '▲ ') + allTimeLowChangeFormatted + '%'}"></span>
                </div>
            </div>
        </div>
        <div id="price-performance" class="wrapper mkt-stat">
            <span>Price Performance</span>
            <div class="sliders-container">
                <div class="metric-wrapper">
                    <div class="metric-label-container">
                        <span class="metric-label grey-text">24 Hours</span>
                        <span class="metric-change change-positive">▲ +2.45%</span>
                    </div>

                    <div class="slider-track">
                        <div class="slider-fill" style="width: 12%;"></div>
                    </div>
                </div>
                <div class="metric-wrapper">
                    <div class="metric-label-container">
                        <span class="metric-label grey-text">7 Days</span>
                        <span class="metric-change change-positive">▲ +5.67%</span>
                    </div>

                    <div class="slider-track">
                        <div class="slider-fill" style="width: 50%;"></div>
                    </div>
                </div>
                <div class="metric-wrapper">
                    <div class="metric-label-container">
                        <span class="metric-label grey-text">30 Days</span>
                        <span class="metric-change change-positive">▲ +12.34%</span>
                    </div>

                    <div class="slider-track">
                        <div class="slider-fill" style="width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        const timestamps = [[${timestamps}]].map(Number);
        const values = [[${values}]].map(Number);

        const dates = timestamps.map(ts => new Date(ts * 1000));

        const trace = {
            x: dates,
            y: values,
            type: 'scatter',
            mode: 'lines',
            fill: 'tozeroy',
            line: { color: '#4A90E2' }
        };

        const layout = {
            margin: { t: 20, r: 20, l: 60, b: 80 },
            yaxis: { tickformat: '$,', autorange: true },
            xaxis: { tickangle: -45, type: 'date' }
        };

        Plotly.newPlot('data-graph', [trace], layout, { responsive: true });
        /*]]>*/

        document.getElementById('download-graph-btn').addEventListener('click', () => {
            console.log("DOWNLOAD")
            Plotly.downloadImage('data-graph', {
                format: 'png',
                filename: 'crypto_chart',
                height: 600,
                width: 1000
            });
        });
    </script>
</section>