<section xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
    <div class="page-title">
        <h2>Cryptocurrency Dashboard</h2>
        <p>Real-time market overview and price charts</p>
    </div>

    <div class="dashboard-top-stats">
        <div class="wrapper top-stat">
            <div class="top-stat-head">
                <a>Top Price</a>
                <a>Change</a>
            </div>

            <div th:each="coin : ${top3Price}" class="top-stat-coin clickable-row" th:data-symbol="${coin.symbol}">
                <img class="small-logo"
                     th:src="${'https://img.logo.dev/crypto/' + coin.getSymbol() + '?token=pk_Eik_EQB_QCOrBDpPKu6RYQ'}">
                <a th:text="${coin.getSymbol()}"></a>
                <a th:text="${coin.getFormattedLastPrice()}"></a>
                <a th:class="${coin.getChangePercent() < 0} ? 'change-negative' : 'change-positive'"
                   th:text="${(coin.getChangePercent() < 0 ? '▼ ' : '▲ ') + coin.getFormattedChange() + '%'}">
                </a>
            </div>
        </div>
        <div class="wrapper top-stat">
            <div class="top-stat-head">
                <a>New</a>
                <a>Change</a>
            </div>

            <div th:each="coin : ${top3New}" class="top-stat-coin clickable-row" th:data-symbol="${coin.symbol}">
                <img class="small-logo"
                     th:src="${'https://img.logo.dev/crypto/' + coin.getSymbol() + '?token=pk_Eik_EQB_QCOrBDpPKu6RYQ'}">
                <a th:text="${coin.getSymbol()}"></a>
                <a th:text="${coin.getFormattedLastPrice()}"></a>
                <a th:class="${coin.getChangePercent() < 0} ? 'change-negative' : 'change-positive'"
                   th:text="${(coin.getChangePercent() < 0 ? '▼ ' : '▲ ') + coin.getFormattedChange() + '%'}">
                </a>
            </div>
        </div>
        <div class="wrapper top-stat">
            <div class="top-stat-head">
                <a>Top Gain</a>
                <a>Change</a>
            </div>

            <div th:each="coin : ${top3Gain}" class="top-stat-coin clickable-row" th:data-symbol="${coin.symbol}">
                <img class="small-logo"
                     th:src="${'https://img.logo.dev/crypto/' + coin.getSymbol() + '?token=pk_Eik_EQB_QCOrBDpPKu6RYQ'}">
                <a th:text="${coin.getSymbol()}"></a>
                <a th:text="${coin.getFormattedLastPrice()}"></a>
                <a th:class="${coin.getChangePercent() < 0} ? 'change-negative' : 'change-positive'"
                   th:text="${(coin.getChangePercent() < 0 ? '▼ ' : '▲ ') + coin.getFormattedChange() + '%'}">
                </a>
            </div>
        </div>
        <div class="wrapper top-stat">
            <div class="top-stat-head">
                <a>Top Volume</a>
                <a>Change</a>
            </div>

            <div th:each="coin : ${top3Volume}" class="top-stat-coin clickable-row" th:data-symbol="${coin.symbol}">
                <img class="small-logo"
                     th:src="${'https://img.logo.dev/crypto/' + coin.getSymbol() + '?token=pk_Eik_EQB_QCOrBDpPKu6RYQ'}">
                <a th:text="${coin.getSymbol()}"></a>
                <a th:text="${coin.getFormattedLastPrice()}"></a>
                <a th:class="${coin.getChangePercent() < 0} ? 'change-negative' : 'change-positive'"
                   th:text="${(coin.getChangePercent() < 0 ? '▼ ' : '▲ ') + coin.getFormattedChange() + '%'}">
                </a>
            </div>
        </div>
    </div>
    <div class="wrapper dashboard-wrapper">
        <h2>Cryptocurrency Prices by Market Cap</h2>
        <div class="table-scroll-container">
            <table class="dashboard-table">
                <thead>
                <tr>
                    <th class="sticky-col column-1"></th>
                    <th class="sticky-col column-2">#</th>
                    <th class="sticky-col column-3">Coin</th>
                    <th></th>
                    <th>Price</th>
                    <th>24h</th>
                    <th>1m</th>
                    <th>3m</th>
                    <th>24h volume</th>
                    <th>Last 7 Days Grid</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="coin, iterStat : ${tableCoins}" class="clickable-row" th:data-symbol="${coin.symbol}">
                    <td class="sticky-col column-1" sec:authorize="isAuthenticated()">
                        <form th:if="${!user.hasCoin(coin.symbol)}" action="/add-coin-to-watchlist" method="post">
                            <input type="hidden" name="username" th:value="${user.username}"/>
                            <input type="hidden" name="symbol" th:value="${coin.symbol}"/>

                            <button type="submit" style="background:none;border:none;padding:0;cursor:pointer;">
                                <svg xmlns="http://www.w3.org/2000/svg" height="20px" width="20px" fill="#6C6C6C"
                                     viewBox="0 0 24 24">
                                    <path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.64-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28L5.47 10.5l4.38-.38L12 6.1l2.15 4.01 4.38.38-3.77 2.89 1 4.28L12 15.4z"/>
                                </svg>
                            </button>
                        </form>
                        <form th:if="${user.hasCoin(coin.symbol)}" action="/delete-coin-from-watchlist" method="post">
                            <input type="hidden" name="username" th:value="${user.username}"/>
                            <input type="hidden" name="symbol" th:value="${coin.symbol}"/>

                            <button type="submit" style="background:none;border:none;padding:0;cursor:pointer;">
                                <svg xmlns="http://www.w3.org/2000/svg" height="20px" width="20px" fill="#FFD700"
                                     viewBox="0 0 24 24">
                                    <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                                </svg>
                            </button>
                        </form>
                    </td>
                    <td class="sticky-col column-1" th:if="${user==null}"></td>
                    <td class="table-row-count sticky-col column-2" th:text="${(iterStat.index + 1) + ((pageNum - 1) * 10)} + '.'"></td>
                    <td class="sticky-col column-3">
                        <div class="table-coin-label">
                            <img class="small-logo"
                                 th:src="${'https://img.logo.dev/crypto/' + coin.getSymbol() + '?token=pk_Eik_EQB_QCOrBDpPKu6RYQ'}">
                            <span th:text="${coin.getName()}"></span>
                        </div>
                    </td>
                    <td class="grey-text table-symbol" th:text="${coin.getSymbol()}"></td>
                    <td th:text="${coin.getFormattedLastPrice()}"></td>
                    <td th:class="${coin.getChangePercent() < 0} ? 'change-negative' : 'change-positive'"
                        th:text="${(coin.getChangePercent() < 0 ? '▼ ' : '▲ ') + coin.getFormattedChange() + '%'}"></td>
                    <td th:class="${coin.getMonthlyChange() < 0} ? 'change-negative' : 'change-positive'"
                        th:text="${(coin.getMonthlyChange() < 0 ? '▼ ' : '▲ ') + coin.getFormattedMonthlyChange() + '%'}"></td>
                    <td th:class="${coin.getThreeMonthsChange() < 0} ? 'change-negative' : 'change-positive'"
                        th:text="${(coin.getThreeMonthsChange() < 0 ? '▼ ' : '▲ ') + coin.getFormattedThreeMonthsChange() + '%'}"></td>
                    <td th:text="${coin.getFormattedVolume()}"></td>
                    <td>
                        <div class="sparkline"
                             th:data-prices="${#strings.arrayJoin(sparklineData[coin.symbol], ',')}"
                             style="width: 100%; height: 75px;">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="pagination">
            <div class="pagination-pages">
                <a class="prev-page-btn"
                   th:if="${pageNum > 1}"
                   th:href="@{/dashboard(pageNum=${pageNum - 1})}">
                    &lt;
                </a>

                <a class="page-btn"
                   th:if="${pageNum > 3}"
                   th:href="@{/dashboard(pageNum=1)}">
                    1
                </a>

                <span class="page-btn"
                      th:if="${pageNum > 4}">
                ...
                </span>

                <a th:each="i : ${#numbers.sequence(
            T(java.lang.Math).max(1, pageNum - 2),
            T(java.lang.Math).min(totalNumberOfPages, pageNum + 2))}"
                   th:href="@{/dashboard(pageNum=${i})}"
                   th:text="${i}"
                   th:class="'page-btn ' + (${i} == ${pageNum} ? 'selected-page' : '')">
                </a>

                <span class="page-btn"
                      th:if="${pageNum < totalNumberOfPages - 3}">
                ...
                </span>

                <a class="page-btn"
                   th:if="${pageNum < totalNumberOfPages - 2}"
                   th:href="@{/dashboard(pageNum=${totalNumberOfPages})}">
                    <span th:text="${totalNumberOfPages}"></span>
                </a>

                <a class="next-page-btn"
                   th:if="${pageNum < totalNumberOfPages}"
                   th:href="@{/dashboard(pageNum=${pageNum + 1})}">
                    &gt
                </a>
            </div>

            <form class="page-jump-form"
                  th:action="@{/dashboard}"
                  method="get"
                  onsubmit="return validatePageJump(this);">

                <input type="number"
                       name="pageNum"
                       class="page-jump-input"
                       min="1"
                       th:attr="max=${totalNumberOfPages}"
                       placeholder="Page"
                       required />

                <button type="submit" class="page-jump-btn">
                    Go
                </button>
            </form>
        </div>
    </div>
    <script src="/scripts/sparklines.js"></script>
</section>